<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger</title>
    <style>
        a {
            font-size: 18px;
        }
    </style>
</head>
<body>
    Frontend endpoints:
    <br>
    <a href="/">/</a><br>
    <a href="/">/</a>
    <br>
    <a href="/video/">/video/</a>
    <br>
    <a href="/">/</a>
<br>
    <a href="/">/</a>
    <br>
    <a href="/video/">/video/</a>
    <br>
    <a href="/">/</a>
<br>
    <a href="/">/</a>
    <br>
    <a href="/video/">/video/</a>
    <br>
    <a href="/">/</a>
<br>
    <a href="/">/</a>
    <br>
    <a href="/video/">/video/</a>
    <br>
    <a href="/">/</a>


    Backend endpoints:
    <br>
    <a href="/back_end_api/pasport/user/">back_end_api/pasport/user/</a>
    <br>
    <a href="/back_end_api/pasport/user/reg/">back_end_api/pasport/user/reg/</a>
    <br>
    <a href="/back_end_api/pasport/user/login/">back_end_api/pasport/user/login/</a>
    <br>
    <a href="/back_end_api/video/">back_end_api/video/</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/">back_end_api/video/[slug]/</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/comments">back_end_api/video/[slug]/comments</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/like/">back_end_api/video/[slug]/like</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/dislike/">back_end_api/video/[slug]/dislike</a>
    <br>
    <a href="/back_end_api/video/subscribe/?creator=vovav">back_end_api/video/subscribe</a>
    <br>


</body>
</html>