<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger</title>
    <style>
        a {
            font-size: 18px;
        }
    </style>
</head>
<body>
    Frontend endpoints:
    <br>
    <a href="/">/</a>
    <br>
    <a href="/video/">/video/ only unauthorized user</a>
    <br>
    <a href="/login/">/login/ only unauthorized user</a>
    <br>
    <a href="/reg/">/reg/ only unauthorized user</a>
    <br>
    <a href="/video/user_video/vovav/">/video/user_video/[user_name]/</a>
    <br>
    <a href="/video/subscribes/">/video/subscribes/ only authorized user</a>
    <br>
    <a href="/video/likes/">/video/likes/ only authorized user</a>
    <br>
    <a href="/video/dislikes/">/video/subscribes/ only authorized user</a>
    <br>
    <a href="/video/crete/">/video/crete/ only authorized user</a>
    <br>
    <a href="/video/chat/">/video/chat/ only authorized user</a>
    <br>
    <br>
    <br>


    Backend endpoints:
    <br>
    <a href="/back_end_api/pasport/user/">back_end_api/pasport/user/</a>
    <br>
    <a href="/back_end_api/pasport/user/reg/">back_end_api/pasport/user/reg/</a>
    <br>
    <a href="/back_end_api/pasport/user/login/">back_end_api/pasport/user/login/</a>
    <br>
    <a href="/back_end_api/video/">back_end_api/video/</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/">back_end_api/video/[slug]/</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/comments">back_end_api/video/[slug]/comments</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/like/">back_end_api/video/[slug]/like</a>
    <br>
    <a href="/back_end_api/video/RfCGKowM/dislike/">back_end_api/video/[slug]/dislike</a>
    <br>
    <a href="/back_end_api/video/subscribe/?creator=vovav">back_end_api/video/subscribe</a>
    <br>
    <a href="/back_end_api/chat/">back_end_api/chat/</a>
    <br>
    <a href="/back_end_api/chat//">back_end_api/chat/[slug]/</a>
    <br>
    <a href="/back_end_api/chat//messages/">back_end_api/chat/[slug]/messages</a>
    <br>
    <a href="/back_end_api/chat/ /link">back_end_api/chat/[slug]/link</a>
    <br>


</body>
</html>